gpiServiceTest/Service References/hostBasculaPL/gplServiceWcfLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/gplServiceWcfLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/gplServiceWcfLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Basculas">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bascula1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bascula2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Basculas" nillable="true" type="tns:Basculas" />
  <xs:complexType name="EstadoBascula">
    <xs:sequence>
      <xs:element minOccurs="0" name="CadenaOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carga" type="xs:double" />
      <xs:element minOccurs="0" name="CargaFinal" type="xs:double" />
      <xs:element minOccurs="0" name="CodEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMA" type="xs:double" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="Silo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoBascula" nillable="true" type="tns:EstadoBascula" />
  <xs:complexType name="EstadoComando">
    <xs:sequence>
      <xs:element minOccurs="0" name="CadenaOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExiteError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoComando" nillable="true" type="tns:EstadoComando" />
</xs:schema>